services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5446:5432"
    volumes:
      - "jahitin_data:/var/lib/postgresql/data"

  api:
    build: 
      context: .
      dockerfile: ./apps/api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env 
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    depends_on:
      - db

  admin:
    build: 
      context: .
      dockerfile: ./apps/admin/Dockerfile
    ports:
      - "4000:3000"
    environment:
      - NODE_ENV=production

  platform:
    build: 
      context: .
      dockerfile: ./apps/platform/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

volumes:
  jahitin_data: