services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5440:5432"
    volumes:
      - "jahitin_data_dev:/var/lib/postgresql/data"

volumes:
  jahitin_data_dev: